#ct-circle-container{width:100%;height:100%}#ct-circle-container svg{height:100%;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);width:100%}#ct-circle-container svg circle{fill:none;stroke:#33cc33;stroke-dashoffset:0;stroke-width:50%; opacity: 0.7}
