
#title {
	font-size: 45px;
    font-weight: bold;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}

.btn-lg {
    margin: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-family: cursive;
}

.custom {
	width: 180px;
    height: 90px;
    font-size: 40px;
    border-radius: 7px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}