.square {
    border: 1px thin cadetblue;
    background-color: #78bec5;
    border-radius: 7px;
    height: 51px;
    width: 51px;
    float: left;
    margin-left: 6px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    line-height: 48px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#bar1 {
	width: 55px;
    height: 116px;
    background-image: url(Images/bg2.jpg);
    background-position: center;
    position: absolute;
    left: 123px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0.8;
}

#bar2 {
	width: 55px;
    height: 116px;
    background-image: url(Images/bg2.jpg);
    background-position: center;
    position: absolute;
    right: 123px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0.8;
}

#avatar1 {
    height: 121px;
    width: 121px;
    background-image: url(Images/c4.jpg);
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 110px;
    left: 90px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.9;
}

#avatar2 {
    height: 121px;
    width: 121px;
    background-image: url(Images/c11.jpg);
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 110px;
    right: 90px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.9;
}

#timer1 {
    height: 121px;
    width: 121px;
    position: absolute;
    top: 110px;
    left: 90px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    z-index: 1;
}

#timer2 {
	height: 121px;
    width: 121px;
    position: absolute;
    top: 110px;
    right: 90px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    z-index: 1;
}

#input1 {
    width: 120px;
    position: absolute;
    top: 230px;
    left: 90px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #dc685a;
}

#input2 {
    width: 120px;
    position: absolute;
    top: 230px;
    right: 90px;
    text-align: center;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: orange;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

h1 {
    text-align: center;
    color: #3d4250;
    font-family: cursive;
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 407px;
    z-index: 1;
    cursor: default;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 15px;
    align-content: center;
    border-bottom: 2px double #3d4250;
}

h4 {
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: default;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 102%;
    left: 50%;
    width: 190px;
    height: 33px;
    margin-top: -16.5px;
    margin-left: -88px;
}

button {
    align-content: center;
    background-color: #3d4250;
    color: white;
    padding: 10px 22px;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: cursive;
    position: absolute;
    z-index: 1;
    bottom: 90px;
    right: 521px;
}

button:hover{
    background-color: #292b2c;
}

.disable-block {
    pointer-events: none;
}

.blocked {
    pointer-events: none;
}

.X-turns {
    border: 3px solid #dc685a;
}

.O-turns {
    border: 3px solid #ecaf4f;
}

body {
    background-image: url(Images/bg14.jpg);
    background-position: center;
    background-size: cover;
}

.jumbotron {
    width: 85%;
    margin: 0 auto;
    background-image: url(Images/load1.gif);
    background-color: white;
    background-position: center;
    background-size: auto;
    background-color: rgba(255,255,255,0.9);
}

.col-lg-3 {
    margin-left: 58px;
}

#A-block {
    border-radius: 9px;
    height: 165px;
    width: 172px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
    line-height: 158px;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 45px;
    left: 221px;
    z-index: 1;
    color: white;   
}

#B-block {
    border-radius: 9px;
    height: 165px;
    width: 172px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
    line-height: 158px;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 45px;
    left: 498px;
    z-index: 1;
    color: white;
    
}

#C-block {
    border-radius: 9px;
    height: 165px;
    width: 172px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
    line-height: 158px;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 45px;
    left: 777px;
    z-index: 1;
    color: white;
    
}

#D-block {
    border-radius: 9px;
    height: 165px;
    width: 172px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
    line-height: 158px;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 228px;
    left: 221px;
    z-index: 1;
    color: white;   
}

#E-block {
    border-radius: 9px;
    height: 165px;
    width: 172px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
    line-height: 158px;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 228px;
    left: 498px;
    z-index: 1;
    color: white;
    
}

#F-block {
    border-radius: 9px;
    height: 165px;
    width: 172px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
    line-height: 158px;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 228px;
    left: 777px;
    z-index: 1;
    color: white;
    
}

#G-block {
    border-radius: 9px;
    height: 165px;
    width: 172px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
    line-height: 158px;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 410px;
    left: 221px;
    z-index: 1;
    color: white;   
}

#H-block {
    border-radius: 9px;
    height: 165px;
    width: 172px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
    line-height: 158px;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 410px;
    left: 498px;
    z-index: 1;
    color: white;
    
}

#I-block {
    border-radius: 9px;
    height: 165px;
    width: 172px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
    line-height: 158px;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 410px;
    left: 777px;
    z-index: 1;
    color: white;
    
}

